src/conf/xml-resources/web-service-references/ServicoCompraService/wsdl/localhost_8080/SW_Trabalho_Etapa1/ServicoCompraService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicos.ifsul.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicos.ifsul.edu.br/" name="ServicoCompraService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicos.ifsul.edu.br/" schemaLocation="http://localhost:8080/SW_Trabalho_Etapa1/ServicoCompraService?xsd=1"/>
</xsd:schema>
</types>
<message name="listaCompras">
<part name="parameters" element="tns:listaCompras"/>
</message>
<message name="listaComprasResponse">
<part name="parameters" element="tns:listaComprasResponse"/>
</message>
<message name="remover">
<part name="parameters" element="tns:remover"/>
</message>
<message name="removerResponse">
<part name="parameters" element="tns:removerResponse"/>
</message>
<message name="alterar">
<part name="parameters" element="tns:alterar"/>
</message>
<message name="alterarResponse">
<part name="parameters" element="tns:alterarResponse"/>
</message>
<message name="inserir">
<part name="parameters" element="tns:inserir"/>
</message>
<message name="inserirResponse">
<part name="parameters" element="tns:inserirResponse"/>
</message>
<portType name="ServicoCompra">
<operation name="listaCompras">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/listaComprasRequest" message="tns:listaCompras"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/listaComprasResponse" message="tns:listaComprasResponse"/>
</operation>
<operation name="remover">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/removerRequest" message="tns:remover"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/removerResponse" message="tns:removerResponse"/>
</operation>
<operation name="alterar">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/alterarRequest" message="tns:alterar"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/alterarResponse" message="tns:alterarResponse"/>
</operation>
<operation name="inserir">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/inserirRequest" message="tns:inserir"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCompra/inserirResponse" message="tns:inserirResponse"/>
</operation>
</portType>
<binding name="ServicoCompraPortBinding" type="tns:ServicoCompra">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaCompras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remover">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicoCompraService">
<port name="ServicoCompraPort" binding="tns:ServicoCompraPortBinding">
<soap:address location="http://localhost:8080/SW_Trabalho_Etapa1/ServicoCompraService"/>
</port>
</service>
</definitions>