web/WEB-INF/wsdl/localhost_8080/SW_Trabalho_Etapa1/ServicoCompraService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicos.ifsul.edu.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicos.ifsul.edu.br/">

<xs:element name="alterar" type="tns:alterar"/>

<xs:element name="alterarResponse" type="tns:alterarResponse"/>

<xs:element name="compra" type="tns:compra"/>

<xs:element name="inserir" type="tns:inserir"/>

<xs:element name="inserirResponse" type="tns:inserirResponse"/>

<xs:element name="listaCompras" type="tns:listaCompras"/>

<xs:element name="listaComprasResponse" type="tns:listaComprasResponse"/>

<xs:element name="remover" type="tns:remover"/>

<xs:element name="removerResponse" type="tns:removerResponse"/>

<xs:complexType name="alterar">
<xs:sequence>
<xs:element name="compra" type="tns:compra"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compra">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="c_nome" type="xs:string"/>
<xs:element name="c_endereco" type="xs:string"/>
<xs:element name="valor_compra" type="xs:double"/>
<xs:element name="cep_origem" type="xs:string"/>
<xs:element name="cep_destino" type="xs:string"/>
<xs:element name="valor_frete" type="xs:double"/>
<xs:element name="prazo_entrega" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alterarResponse">
<xs:sequence>
<xs:element name="return" type="tns:compra" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remover">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaCompras">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaComprasResponse">
<xs:sequence>
<xs:element name="return" type="tns:compra" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserir">
<xs:sequence>
<xs:element name="compra" type="tns:compra"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirResponse">
<xs:sequence>
<xs:element name="return" type="tns:compra" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>